
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
  </head>
  <body>
{{> navbar}}




  
  {{!-- hero-section --}}
  <div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-content-center flex-column">
                    <h2>WE WILL HELP YOU TO</h2>
                    <h2>GROW YOUR BUSINESS</h2>
                    <p>We are the team of <span class="bold-style">Professional Developer</span></p>
                    <button class="btn-style btn-primary">READ MORE</button>

                </div>

                <div class="image col-md-6 col-12 hero-text order-md-1 order-0">
                    <figure>
                        <img src="images/growth.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
  </div>


   {{!-- about-section --}}
  {{> about}}

  
   {{!-- service-section --}}
  {{> service}}

   {{!-- map-section --}}
  {{> maps}}

     {{!-- contact-section --}}
  {{> contact}}
 


  



<script src="/jq/jquery.min.js"></script>
 
<script src="/js/bootstrap.bundle.min.js"></script> 
<!-- Toastify JS -->



  </body>
</html>