{{!-- <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <link class="text-align-center">
            <h1 class="text-center main-heading">THANK YOU PAGE</h1>
           
                

                
                    <h1>THANKYOU FOR SUBMITTING YOUR CONTACT</h1>
                    <h2>GROW YOUR BUSINESS</h2>
                    <p>We are the team of <span class="bold-style">Professional Developer</span></p>

           
        </div>
    </div>
  </div> --}}

  <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="main-heading">THANK YOU PAGE</h1>
        <h1>THANK YOU FOR SUBMITTING YOUR CONTACT</h1>
        <h2>GROW YOUR BUSINESS</h2>
        <p>We are the team of <span class="bold-style">Professional Developers</span></p>
    </div>
</div>
